@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.footer {
  background-color: #354733;
  color: white;
  width: 100vw;
  height: 572px;
  top: 4549px;
  left: -0px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  font-family: "EB Garamond", serif;
  background-image: url("src/assets/images/plantPattern.svg");
  background-blend-mode: multiply;
}

.square1 h2 {
  margin-bottom: 35px;
}

.square1 a {
  display: flex;
  flex-direction: row;
  line-height: 0.5;
  color: #fcfcfc;
  text-align: center;
  text-decoration: none;
}

.square2 h2 {
  margin-bottom: 35px;
}

.square2 a {
  display: flex;
  flex-direction: row;
  line-height: 0.5;
  color: #fcfcfc;
  text-align: center;
  text-decoration: none;
}

/* Seção Superior */
.upperSection {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
}

.squareLeft {
  font-weight: normal;
  width: 274px;
  height: 250px;
  top: 4684px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  border-color: #ffffff;
  margin-left: 90px;
  margin-top: 150px;
  font-size: 19px;
}

.squareLeft h3 {
  font-weight: normal;
}

.squaresRight {
  display: flex;
  align-items: center;
  padding-right: 50px;
  gap: 20px;
  margin-right: 75px;
  border-color: #f5f0f0;
  position: relative;
}

.square1 {
  width: 67px;
  height: 168px;
  font-size: 15px;
  margin-top: 100px;
  z-index: 2;
  border-color: #fff;
}

.square1 h2 {
  font-weight: bold;
  font-family: lato;
  color: var(--white);
}

.square1 a {
  font-family: lato;
  font-weight: normal;
}

.square2 {
  width: 125px;
  height: 168px;
  top: 4725px;
  left: 1469px;
  gap: 0px;
  opacity: 0px;
  border-color: #ffffff;
  margin-top: 100px;
  font-size: 15px;
  z-index: 2;
}

.square2 h2 {
  font-weight: bold;
  font-family: lato;
  color: var(--white);
}

.square2 a {
  font-family: lato;
  font-weight: normal;
}

/* Linha Divisória */
.boxdivider {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: #fdc406;
  margin-left: 100px;
  width: 100vw;
  margin-right: 88px;
}

.divider {
  width: 100%;
  height: 0px;
  top: 4985px;
  left: 100px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #dddea0;
  border-style: solid;
}

/* Seção Inferior */
.lowerSection {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
}

.squareLeftdown {
  width: 50px;
  height: 54px;
  gap: 0px;
  opacity: 0px;
  margin-left: 90px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logoImage {
  width: 90%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logoImage:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.squareRight {
  width: 221px;
  height: 50px;
  gap: 0px;
  opacity: 0px;
  margin-right: 75px;
  text-align: center;
}

.squareRight h3 {
  font-weight: normal;
}

/* Mobile responsive */
@media (max-width: 767px) {
  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .upperSection,
  .lowerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
  }

  .squaresRight {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-right: 0;
  }

  .squareLeft {
    margin-top: 0;
    margin-left: 0;
    font-size: 16px;
    height: auto;
  }

  .square1,
  .square2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 20px;
  }

  .boxdivider {
    margin-left: 0;
    margin-right: 0;
    align-self: center;
  }

  .divider {
    width: 90vw;
    margin: 20px auto;
  }

  .squareLeftdown,
  .squareRight {
    margin-left: 0;
    margin-right: 0;
  }

  .squareRight h3 {
    font-size: 14px;
  }
}
