@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

input {
  border: none;
}
textarea {
  outline: none;
  width: 476px;
  height: 125px;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  resize: none;
  border: none;
}

button {
  width: 31.3rem;
  height: 52px;
  background-color: #354733;
  border: none;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

.container img {
  filter: grayscale(100%);
  height: 1345px;
  width: auto;
}

.form-container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 572px;
  height: 1345px;
  margin-left: 50px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  gap: 16px;
  margin-bottom: -20px;
}

.form-container h1 {
  width: 476px;
  height: 56px;
  font-size: 24px;
  line-height: 28px;
  color: #354733;
  border-bottom: 1px solid #afb2aa;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

.form-inputs label {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.form-inputs input[type="text"] {
  width: 476px;
  height: 46px;
  border: 1px solid #afb2aa;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 10px;
}

.form-radio {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price label {
  line-height: 22px;
  font-weight: 500;
}

.price input {
  width: 215px;
  height: 46px;
  border: 1px solid #afb2aa;
  border-radius: 4px;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
}

.price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.textarea {
  border: 1px solid #afb2aa;
}

.error {
  color: red;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#radio {
  display: flex;
  gap: 8px;
}

#radio div > input[type="radio"] {
  accent-color: #354733;
}

input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid var(--lunar-green);
  outline-offset: 2px;
}

input[type="file"]::before {
  top: 16px;
}

input[type="file"]::after {
  top: 14px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  left: 40px;
  color: var(--lunar-green);
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23354733'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

/* ------- From Step 1 ------- */

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.main-plant {
  transition: filter 0.3s ease;
}

.main-plant:hover {
  filter: grayscale(0%);
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    color: #f2f2f2;
  }

  .form-container {
    width: 100%;
    margin-left: 0;
    border: none;
    position: relative;
    background-image: url("../../assets/images/mainPlant.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    z-index: 1;
  }

  .form-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/mainPlant.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(70%) blur(5px);
    opacity: 1;
    z-index: -1;
  }

  .form-container h1 {
    width: 100%;
    border-bottom: none;
  }

  .form-inputs input[type="text"] {
    width: 100%;
    opacity: 100%;
  }

  .form-inputs label {
    font-size: 16px;
  }

  .form-radio {
    flex-direction: column;
  }

  .price input {
    width: 100%;
  }

  .price {
    gap: 8px;
  }

  .price label {
    font-size: 16px;
  }

  .textarea {
    width: 100%;
  }

  .register {
    width: 75%;
  }

  button {
    width: 100%;
  }

  .main-plant {
    display: none;
  }
}
