.card {
  min-width: 389px;
  max-width: 389px !important;
  min-height: 560px;
  background-color: var(--athena-grey);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10%;
}

.card:hover {
  transform: scale(1.01);
}

.imageContainer {
  height: 250px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 100%;

  object-fit: fill;
}

.card h1 {
  font-family: lato;
  color: var(--lunar-green);
  font-size: 2.4rem;
  padding-top: 3%;
  padding-left: 5%;
  margin-top: auto;
}

.card p {
  font-size: 1.6rem;
  color: var(--lunar-green);
  font-family: raleway;
  padding-left: 5%;
  padding-top: 1%;
  margin-bottom: auto;
}

.card div {
  padding-top: 8%;
  padding-bottom: 10%;
}

.card div span {
  margin-right: 2%;
}

.label {
  background-color: var(--wisper);
  border: 1px solid var(--avacado);
  border-radius: 20px !important;
  color: var(--avacado) !important;
  padding: 2% 3%;
  margin-left: 5%;
  font-size: 1.6rem;
  transition: transform 0.3s ease, background-color 0.3s;
  color: var(--avacado);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
}

.label:hover {
  background-color: var(--avacado);
  color: var(--wisper) !important;
  transform: scale(1.1);
}

.originalPrice {
  text-decoration: line-through;
  margin-left: 10px;
  color: var(--Dark-gray, #afb2aa);
  font-style: normal;
  line-height: 154.5%; /* 24.72px */
  text-decoration-line: strikethrough;
}

.price {
  color: var(--lunar-green);
}
