@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.mainContainer {
  background-color: var(--wisper);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-height: 780px;
}

.description {
  position: relative;
  z-index: 888;
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  margin-bottom: -19px;
  padding-top: 50px;
}

.paragraphDescription {
  display: flex;
  height: 97px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  font-family: "Raleway";
  font-size: 16px;
  color: #afb2aa;
}

.descriptionContainer {
  position: relative;
  z-index: 9999;
  margin-left: 100px;
  margin-bottom: 13rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  max-width: 613px;
  height: 391px;
}

.description-container h1 {
  font-size: 64px;
  text-transform: capitalize;
  font-family: "EB Garamond", serif;
  color: #354733;
}

.greenSpan {
  color: var(--avacado) !important;
}

.description-container p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.main-plant {
  position: relative;
  height: 950px;
  object-position: top;
  filter: grayscale(100%);
  z-index: 2;
  margin-top: -115px;
}

.main-plant:hover {
  filter: grayscale(0%);
}

.line {
  width: 32px;
  height: 3px;
  background-color: #000;
  margin: 1rem auto;
}

.nature-span {
  width: 200px;
  height: 28px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#learn-gardening {
  font-size: 20px;
  color: #808276;
  margin-left: 100px;
  text-decoration: none;
  z-index: 5000;
  padding-top: 210px;
}

#shop-now {
  text-align: center;
  align-content: center;
  width: 191px;
  height: 62px;
  background-color: #354733;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
}

#love-nature {
  font-family: "Pacifico", cursive;
}

/* Mobile responsive */
@media (max-width: 767px) {
  .main-plant {
    display: none;
  }

  .main-plant:hover {
    filter: grayscale(0%);
  }

  .descriptionContainer {
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 40px;
  }
}

/* Tablet responsive */
@media (min-width: 768px) and (max-width: 991px) {
  .main-plant {
    display: none;
  }
}
